@import url("https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");

body {
   margin: 0;
   font-family: $ff-body;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   color: darkslategray !important;
}

code {
   font-family: $ff-body, monospace;
}

$headings: (1, 2, 3, 4, 5, 6);

@each $level in $headings {
   h#{$level},
   .h#{$level} {
      font-family: $ff-lead-heavy;
      text-transform: uppercase;
   }
}

$font-faces: (
   "ff-lead-heavy": $ff-lead-heavy,
   "ff-lead-light": $ff-lead-light,
   "ff-body": $ff-body,
);

@each $face in $font-faces {
   .#{$face} {
      font-family: $face;
   }
}

.popup-modal-content {
   width: 300px !important;
   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.popup-title {
   height: 40px;
   position: absolute;
   width: 100%;
   left: 0px;
   background-color: whitesmoke;
   top: 0px;
   text-align: center;
   padding-top: 5px;
   color: black;
}

.popup-content {
   margin-top: 40px;
   padding-top: 10px;
   width: 100%;
   text-align: center;
}

.popup-modal {
   height: 70px;
}

.left-margin {
   margin-left: 10px;
}

.toast-wrapper {
   position: fixed;
   bottom: 20px;
   left: 20px;
   z-index: 100 !important;
}

.toast {
   opacity: 0.95 !important;
   width: 250px;
}

.toast-header {
   color: dodgerblue !important;
}

.card-bottom-list {
   max-height: 303px;
}

.bg-login-image {
   background: url("../../login.png") !important;
   background-position: center !important;
   background-size: cover !important;
}

.bg-gradient-primary-green {
   background-color: $sb-blue;
}

.icon-green {
   color: seagreen;
}

.bg-custom-dark {
   background-color: $light;
}

.dark-breadcrumb {
   background-color: $light !important;
   margin-top: 15px !important;
}

li a,
.cadet {
   color: $sb-grey;
}

.text-green {
   color: cadetblue !important;
   font-family: sans-serif !important;
}

.toggle-area {
   display: none;
}

.collapsed {
   display: block;
}

.toggle-button {
   background-color: #0e1e24 !important;
   border-color: #0e1e24 !important;
   width: 40px;
   color: seagreen !important;
}

@media (max-width: 380px) {
   .collapsed {
      display: none !important;
   }

   .toggle-area {
      position: fixed;
      bottom: 2%;
      left: 2%;
      z-index: 200 !important;
      display: block;
   }
}
